####################################################################
#                  Electronics Fans
####################################################################

#--------------------------------------------------------------------

[temperature_fan Skirt_fan]      # Skirt fans (set to 5v so its quieter)
pin: PF7
kick_start_time: 0.8             # Startup time
shutdown_speed: 0
max_power: 0.5                   # Maximum power
cycle_time: 0.00003
min_speed: 0.01                  # keep fans always on, at this speed the fan is very silent
sensor_type: temperature_host    # Sensor type
control: pid                     # Control method
min_temp: 0                      # Minimum temperature
max_temp: 80                     # Maximum temperature
pid_kp: 1.0                      # PID Kp value
pid_ki: 0.5                      # PID Ki value
pid_kd: 2.0                      # PID Kd value
max_speed: 1                     # Maximum speed
target_temp: 45                  # Target temperature

# [temperature_fan controller_fan] # CB2 fan
# pin: PF6
# kick_start_time: 0.5             # Startup time
# shutdown_speed: 0
# max_power: 1.0                   # Maximum power
# sensor_type: temperature_host    # Sensor type
# control: pid                     # Control method
# min_temp: 0                      # Minimum temperature
# max_temp: 80                     # Maximum temperature
# pid_kp: 1.0                      # PID Kp value
# pid_ki: 0.5                      # PID Ki value
# pid_kd: 2.0                      # PID Kd value
# max_speed: 1                     # Maximum speed
# target_temp: 40                  # Target temperature

#--------------------------------------------------------------------

# [controller_fan manta_fan]       # Driver cooling fan
# pin: PA6                         # Fan pin
# cycle_time: 0.01                 # Cycle time
# max_power: 0.6                   # Maximum power
# shutdown_speed: 0.0              # Shutdown speed
# fan_speed: 0.8                   # Fan speed when heater or stepper driver is active (0.0 to 1.0). Default is 1.0.
# idle_timeout: 90                 # Time in seconds to keep the fan running after the stepper driver or heater is no longer active. Default is 30 seconds.
# idle_speed: 0.5                  # Fan speed after the stepper driver is no longer active and before idle_timeout is reached (0.0 to 1.0). Default is fan_speed.
# stepper: stepper_x, stepper_y, stepper_z, stepper_z1, stepper_z2

[controller_fan manta_fan]
pin: PA6
shutdown_speed: 0.05
cycle_time: 0.00004 
# off_below: 0.3
kick_start_time: 0.4
hardware_pwm: true
fan_speed: 0.6
tachometer_pin: PC2
idle_timeout: 30
idle_speed: 0.2
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when a heater or stepper driver was active and
#   before the idle_timeout is reached. The default is fan_speed.


#Define the name of the heater/stepper configuration section associated with this fan.
#If a comma-separated list of heater/stepper names is provided here, the fan will be enabled when any of the given heaters/steppers are enabled.
#The default heater is "extruder", and the default stepper is all steppers.
