####################################################################################
##                                    Homing Override
####################################################################################
[safe_z_home]
home_xy_position: 175, 175
z_hop: 5
z_hop_speed: 30
home_y_before_x: True
