[gcode_macro _SET_CARTO_OFFSET]
description: Set cartographer Z offset per material
variable_filament_table: # higher number = farther away from bed
    {
        "ABS"       : 0.08,
        "ASA"       : 0.08,
        "PETG"     : 0.09,
    }
gcode:
    {% set material = params.MATERIAL | upper %}
    {% if material in filament_table %}
        {% set beacon_offset = filament_table[material] %}

        RESPOND MSG="Configured Beacon offset for {material}: {beacon_offset}"
    {% else %}
        # set default offset if not found
        {% set beacon_offset = 0.08 %}
        RESPOND MSG="Offset for material not found, using default of {beacon_offset}"
    {% endif %}

    SET_GCODE_OFFSET Z={beacon_offset}