
###################################################################################
#                                    Input shaping
###################################################################################

# [adxl345 CARTOADXL]
# cs_pin: cartographer:PA3        # Chip select pin for ADXL345 accelerometer



