#####################################################################
# 	                 Cartographer V3 （ADXL345）
# #####################################################################


[mcu cartographer]
#   If you are using the CAN Bus version, replace serial: with canbus_uuid: and add the UUID.
serial: /dev/serial/by-id/usb-Cartographer_614e_0E0033000643564738333920-if00
# restart_method: command
# x_offset: 0
# #adjust for your offset
# y_offset: 21.1
# #adjust for your offset

# sensor: cartographer
# sensor_alt: carto
# #alternate name to call commands. CARTO_TOUCH etc
# #scanner_touch_z_offset: 0.05
# #this is the default and will be overwritten and added to the DO NOT SAVE area by using UI to save z offset
# scanner_touch_max_temp: 150
# backlash_comp: 0.00390


[cartographer]
mcu: cartographer
x_offset: 0
y_offset: 21.1 # This is the offset of your probe from the nozzle tip, to the centre of the coil.
verbose: yes # For extra output

[temperature_sensor cartographer]
sensor_type: temperature_mcu
sensor_mcu: cartographer
min_temp: 5
max_temp: 105

[adxl345]
cs_pin: cartographer:PA3
spi_bus: spi1