
###################################################################################
#                                    Input shaping
###################################################################################

# [adxl345 CARTOADXL]
# cs_pin: cartographer:PA3        # Chip select pin for ADXL345 accelerometer



[resonance_tester]
accel_chip: adxl345 H36ADXL        # Specifies ADXL345 accelerometer for resonance testing
probe_points:
    175, 175, 20                # Coordinates of the probe points for resonance testing
accel_per_hz: 100
sweeping_accel: 400
sweeping_period: 0
