####################################################################
#                  Chamber Fans
####################################################################

#--------------------------------------------------------------------

#Note: The following FAN0/FAN1/FAN2 settings are only applicable when using OrcaSlicer,
#as only OrcaSlicer allows for the additional configuration of parts cooling fans and filter fans.
#If you use other slicing software, please comment out the following configurations.
# instead of using [fan], we define the default part cooling fan with [fan_generic] here
# this is the default part cooling fan




#--------------------------------------------------------------------

[fan_generic fan2]               # 12032 Auxiliary Part cooling Blower
pin: PA0
cycle_time: 0.00003
kick_start_time: 10

#--------------------------------------------------------------------

[fan_generic fan3]               # Fume_Pack Exhaust Fan
pin: PF9                         # Fan pin
kick_start_time: 0.5
