#####################################################################
#                  Extruder Motor
#####################################################################


[extruder]

# WWBMG - Bearing
rotation_distance: 22.2539474
gear_ratio: 50:10
microsteps: 16
full_steps_per_rotation: 200
control: mpc
heater_power: 55
cooling_fan: fan_generic fan0
nozzle_diameter: 0.400
filament_diameter: 1.75
max_extrude_only_distance: 110
max_extrude_cross_section: 5
sensor_type: PT1000
min_temp: 10
max_temp: 290
max_power: 1.0
min_extrude_temp: 172
pressure_advance: 0.0400
pressure_advance_smooth_time: 0.020

[verify_heater extruder]
max_error: 120
check_gain_time: 20
hysteresis: 5
heating_gain: 2

[firmware_retraction]
retract_length: 0.4
retract_speed: 30
unretract_speed: 30


[autotune_tmc extruder]
motor: moons-cse14hra1l410a
