####################################################################
#                  Chamber Fans
####################################################################

#--------------------------------------------------------------------

#Note: The following FAN0/FAN1/FAN2 settings are only applicable when using OrcaSlicer,
#as only OrcaSlicer allows for the additional configuration of parts cooling fans and filter fans.
#If you use other slicing software, please comment out the following configurations.
# instead of using [fan], we define the default part cooling fan with [fan_generic] here
# this is the default part cooling fan




#--------------------------------------------------------------------

[fan_generic fan2]               # 12032 Auxiliary Part cooling Blower
pin: PA0
cycle_time: 0.00003
kick_start_time: 10

#--------------------------------------------------------------------

[fan_generic fan3]               # Fume_Pack Exhaust Fan
pin: PF9                         # Fan pin
kick_start_time: 0.5

####################################################################
#                  Electronics Fans
####################################################################

#--------------------------------------------------------------------

[controller_fan Skirt_fan] 
pin: PF7
max_power: 0.5
cycle_time: 0.00003
kick_start_time: 0.8
idle_timeout: 60


# When not printing, runs quiet and slow to keep CM4 cool at idle
# Print start sets the fan to spin up and print end resets it
[temperature_fan manta_fan]
pin: PA6
tachometer_pin: PC2
hardware_pwm: true
cycle_time: 0.00004
sensor_type: temperature_host    # Monitors the CM4
control: pid
pid_kp: 1.0
pid_ki: 0.5
pid_kd: 2.0
min_temp: 0
max_temp: 85
target_temp: 45                  # The idle target temperature
min_speed: 0.1                   # Minimum speed at idle (10%)
max_speed: 1.0                   # Max speed during prints (100%)
kick_start_time: 0.4

# We need this so we can set the fans in Orca natively
[gcode_macro M106]
gcode:
    {% set fan = 'fan' + (params.P|int if params.P is defined else 0)|string %}
    {% set speed = (params.S|float / 255 if params.S is defined else 1.0) %}
    SET_FAN_SPEED FAN={fan} SPEED={speed}
