#####################################################################
#	                           FYSTEC H36
#####################################################################
[mcu h36]
canbus_uuid: 2cc89d666425

[extruder]
step_pin: h36:PB9
dir_pin: h36:PB8
enable_pin: !h36:PB7
pullup_resistor: 2200
heater_pin: h36:PA7
sensor_pin: h36:PA6

[tmc2209 extruder]
uart_pin: h36:PC14
interpolate: false
run_current: 0.7
sense_resistor: 0.110

#####################################################################
# FANS
#####################################################################

[heater_fan hotend_fan]
pin: h36:PA9
tachometer_pin: h36:PC6
tachometer_ppr: 2
tachometer_poll_interval: 0.0009   # Delta poll interval from https://www.replimat.eu/delta-asb02505sha-ay6b/rt10134
shutdown_speed: 1                  # Keep hotend fan running on shutdown to prevent clogs

[multi_pin a4t_part_cooling]
pins: h36:PA5, h36:PB13

[fan_generic fan0]                  # Dual 4010 Part-cooling fans
pin: multi_pin:a4t_part_cooling     # Fan pin

#####################################################################
#	Mcu & Driver Temperature
#####################################################################

[temperature_sensor h36]
sensor_type: temperature_mcu
sensor_mcu: h36
min_temp: 0
max_temp: 150

[temperature_sensor Extruder_Driver]
sensor_type: Generic 3950
sensor_pin: h36:PA3
min_temp:0
max_temp:150

#####################################################################
#	I/O
#####################################################################

# IO.0: PA15
# IO.1: PC7
# IO.2: PA8
# IO.3/RGB0: PA10
# IO.4/RGB1: PB1

#####################################################################
#	RGB
#####################################################################

[neopixel a4t_leds]
pin: h36:PA10
chain_count: 3
color_order: GRB
initial_RED: 1.0
initial_GREEN: 1.0
initial_BLUE: 1.0

# [gcode_macro M106]
# gcode:
#     {% set fan = 'fan' + (params.P|int if params.P is defined else 0)|string %}
#     {% set speed = (params.S|float / 255 if params.S is defined else 1.0) %}

#     {% if (fan=='fan0') %}
#         {% set fan = 'part_cooling' %}
#     #{% elif (fan=='fan2') %}
#     #    {% set fan = 'part_blower' %}
#     {% endif %}
#     SET_FAN_SPEED FAN={fan} SPEED={speed}


[gcode_macro M106]
gcode:
    {% set fan = 'fan' + (params.P|int if params.P is defined else 0)|string %}
    {% set speed = (params.S|float / 255 if params.S is defined else 1.0) %}
    SET_FAN_SPEED FAN={fan} SPEED={speed}
