#####################################################################
##                  Heated Bed
#####################################################################
[heater_bed]
heater_pin: PA1                        # (BE0) Heater pin
sensor_pin: PB1                        # Sensor interface (TB) sensor pin
sensor_type: ATC Semitec 104GT-2       # ATC Semitec 104GT-2 temperature sensor type
control: pid                           # Control method
min_temp: -20                          # Minimum temperature
max_temp: 135                          # Maximum temperature
pwm_cycle_time: 0.200
#   Time in seconds for each software PWM cycle of the heater. It is
#   not recommended to set this unless there is an electrical
#   requirement to switch the heater faster than 10 times a second.
#   The default is 0.100 seconds.
