[shaketune]
result_folder: ~/printer_data/config/ShakeTune_results
number_of_results_to_keep: 10
keep_raw_data: False
show_macros_in_webui: True
timeout: 300

# enable auto_speed macros
[auto_speed]

[motors_sync]
axes: x,y
accel_chip_x: adxl345 CARTOADXL
accel_chip_y: adxl345 CARTOADXL
microsteps: 16
max_step_size: 8
retry_tolerance: 1500
retries: 10
