#####################################################################
#   Nitehawk36 Accelerometer
#####################################################################
[adxl345 NHADXL]
cs_pin: nhk:gpio27
spi_software_sclk_pin: nhk:gpio18
spi_software_mosi_pin: nhk:gpio20
spi_software_miso_pin: nhk:gpio19
