#####################################################################
##	                 Temperature Monitoring
#####################################################################

[temperature_sensor Manta]              # BTT-MCU temperature sensor configuration
sensor_type: temperature_mcu            # Sensor type

[temperature_sensor CM4]                # BTT-CB2 temperature sensor configuration
sensor_type: temperature_host           # Sensor type
